@page
@model bkeWebApp.Pages.Play

@{
	ViewData["Title"] = "Play";
}

<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  align-items: center;
}
th, td {
  background-color: #96D4D4;
}
tr { height:200px;  }
td { width:200px;  }
</style>

<table style="margin-left:auto; margin-right:auto; width:50%;">
  <tr>
    <td onclick="alert('clicked')"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
